{% extends "bootstrap/base.html" %}
{% include 'layout.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='accm.css')}}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.1.0/joint.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
{{ super() }}
{% endblock %}

# ctr + alt + shift + L to format code
{% block content %}

<div class="container">
    <!--The first form for table course overview-->
    <div id="Courses" class="tabcontent">
        <h1 class="text-center">Course Overview</h1>
        </br>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Course Code</th>
                <th scope="col">Course Title</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>CST8260</td>
                <td>Database</td>
                <td>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Update
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDelete">
                        Delete
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalCreate">Add New
            Course
        </button>
    </div>

    <!--   The second form for modal box update-->
    <div class="modal fade" id="myModal" name="nameModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Course Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>
                    </button>
                </div>
                <form class="needs-validation">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Course</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Pre-requisite</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <p class="text-success text-center">Record has been saved successfully!</p>
                    </div>
                    <div class="modal-footer">
                        </br>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-success" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--   The third form for modal box create new course-->
    <div class="modal fade" id="myModalCreate" name="nameModalCreate" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>
                    </button>
                </div>
                <form class="needs-validation">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Course Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Course Titlte</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        </br>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-success" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--   The fourth form for modal box delete course-->
    <div class="modal fade" id="myModalDelete" name="nameModalDelete" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header detele-header">
                    <h5 class="modal-title">Delete Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>
                    </button>
                </div>
                <form class="needs-validation">
                    <div class="modal-body">
                        <p class="text-center font-weight-bold">Are you sure to delete the course?</p>
                    </div>
                    <div class="modal-footer">
                        </br>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-success" value="OK">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="float-right text-white">© Algonquin College 2019-2021</p>
    </div>
</footer>

<style>
html, body {
  height: 100%;
}


/* Set the fixed height of the footer here */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #006341;
    padding-top: 15px;
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  padding: 100px 20px;
  height: 100%;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center;
}


.modal-header {
background-color: #66b45f;
}
.detele-header {
background-color: #d66464;
}


</style>
{% endblock %}