{% extends "bootstrap/base.html" %}
{% include 'layout.html' %}

{% block content %}
<div class="container">
    <div class="py-5 text-center ">
        <h2>Programs Page</h2>
        <p class="my-3 text-muted">
            The administrator can use this page to change the program and course information
        </p>

        <hr class="mb-4">
    </div>


    <form action="{{ url_for('programs.programs') }}" method="post" id="createProgramForm" name="createProgramForm">
    <div class="form-group row">
      <label for="programCode" class="col-sm-2 col-form-label ">Program Code</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="programCode" name="programCode" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="programName" class="col-sm-2 col-form-label">Program Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="programName" name="programName" required>
      </div>
    </div>

    <div class="form-group row">
      <span class="col-sm-2 col-form-label"></span>
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary my-1" id="submitBtn" name="submitBtn">Add Program</button>
        <button type="reset" class="btn btn-primary my-1" value="Reset" id="clearBtn">Clear Form</button>
      </div>
    </div>
  </form>


  <div class="row" id="messageBox" style="height: 100px;">
      {% if success %}
    <div class="col-md-10"><label id="sucessConfirmation" class="form-control alert-success" >{{message}}</label></div>
      {% elif failure %}
    <div class="col-md-10"><label id="errorConfirmation" class="form-control alert-danger" >{{message}}</label></div>
      {% endif %}
  </div>

  {% if programs|length > 0 %}

  <div id="programTable">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Program Code</th>
          <th scope="col">Program Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="tableBody">
        {% for program in programs %}
        <form action="{{ url_for('programs.programs') }}" method="post" id="testForm2" name="testForm2">
        <tr>

            <td>
              <span class="programCodeSpan">{{ program['program_code'] }}</span>
              <input type="text" class="form-control" name="deleteProgramCode_{{loop.index - 1}}" value="{{ program['program_code'] }}" style="display:none;">
            </td>
            <td>
              <span class="programNameSpan">{{ program['program_name'] }}</span>
            </td>
            <td>
              <button type="submit" id="deleteBtn_{{loop.index - 1}}" name="deleteBtn_{{loop.index - 1}}" class="btn btn-danger deleteBtn">Delete</button>
            </td>

        </tr>
        </form>
        {% endfor %}
      </tbody>

    </table>
  </div>
    {% endif %}


</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

<script type="text/javascript" src="/static/programs.js"></script>

<footer class="container ">
    <p class="float-right">© Algonquin College 2019-2020</p>
</footer>

{% endblock %}
